/* General Tag Selectors */

body{
    background-color: ghostwhite;
}

h1{
    color: red;
    font-size: 36px;
}

img{
    height: 400px;
    width: 400px;
}

/* Class Selectors */
.monster-happy{
    background-color: palegreen;
}

.monster-bored{
    background-color: yellow;
}

.circular{
    border-radius: 100%;

}

/* Pseudo Classes */
img:hover{
    background-color: gold;
}


/* ID Selectors */
#heading{
    font-size: 100px;
    color: cornflowerblue;
}